{% extends 'login/__base__.html' %}

{% block login_content %}
    <form method="post" action="{% verbatim %}{{ location }}{% endverbatim %}" ng-controller="ChangePasswordFormController">
        {% csrf_token %}

        {{ form.new_password1.errors }}
        <div input-field name="new_password1" placeholder="Novo geslo" type="password"></div>

        {{ form.new_password2.errors }}
        <div input-field name="new_password2" placeholder="Potrdite geslo" type="password"></div>

        <input class="btn btn-primary btn-block" type="submit" value="Spremeni geslo" />
    </form>
{% endblock login_content %}
