{% extends 'login/__base__.html' %}

{% block login_content %}
    <h1 class="text-center">Nalaganje fotografij</h1><br>

    <form method="post" action="{% verbatim %}{{ location }}{% endverbatim %}" role="form" ng-controller="SignupFormController">
        {% csrf_token %}
        <div input-field name="first_name" placeholder="Ime" value="{{ first_name }}" error="{% if 'first_name' in errors %}true{% endif %}"></div>
        <div input-field name="last_name" placeholder="Priimek" value="{{ last_name }}" error="{% if 'last_name' in errors %}true{% endif %}"></div>
        <div input-field name="email" placeholder="Email" value="{{ email }}" error="{% if 'email' in errors %}true{% endif %}"></div>
        <div input-field name="address" placeholder="Naslov" value="{{ address }}" error="{% if 'address' in errors %}true{% endif %}"></div>
        <div input-field name="post" placeholder="Poštna številka in pošta" value="{{ post }}" error="{% if 'post' in errors %}true{% endif %}"></div>
        <div institution name="school" placeholder="Šola" value="{{ school }}" error="{% if 'school' in errors %}true{% endif %}"></div>
        <div input-field name="mentor" placeholder="Mentor" value="{{ mentor }}" ng-hide="is_mentor"></div>

        <input class="btn btn-primary btn-block" id="submit-btn" type="submit" value="Naprej">
    </form>
    <br>
    {% if msg %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Napaka!</strong> {{ msg|safe }}
    </div>
    {% endif %}
{% endblock login_content %}
