<div class="df-footer-wrapper">
    <div class="df-footer">
        <div class="df-footer-top">

            <div class="df-one-fourth">
                <div>
                    <h3>DF SVIT</h3>
                    <div class="df-address">
                        Društvo fotografov SVIT<br>
                        Trubarjeva ulica 7, 3000 Celje<br>
                        Slovenija, EU<br><br>
                        <a href="mailto:info@df-svit.si">info@df-svit.si</a>
                    </div>
                </div>

                <div>
                    <div class="df-social">
                        <ul>
                            <li>
                                <a class="df-facebook" target="_blank" href="https://www.facebook.com/dfsvit">facebook</a>
                            </li>
                            <li>
                                <a class="df-rss" target="_blank" href="http://www.df-svit.si/feed/">rss</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="df-one-fourth">
                <h3>Novice in Rezultati</h3>
                <ul class="df-news">
                    <li>
                        <a href="http://www.df-svit.si/2014/07/bon-voyage-2014/" title="BON VOYAGE 2014">BON VOYAGE 2014</a>
                        <span class="post-date">8. 7. 2014</span>
                    </li>
                    <li>
                    <a href="http://www.df-svit.si/2014/06/photo-emotions-2014/" title="Photo Emotions 2014">Photo Emotions 2014</a>
                        <span class="post-date">28. 6. 2014</span>
                    </li>
                    <li>
                        <a href="http://www.df-svit.si/2014/06/photo-emotion-2014/" title="Photo Emotion 2014">Photo Emotion 2014</a>
                        <span class="post-date">16. 6. 2014</span>
                    </li>
                    <li>
                        <a href="http://www.df-svit.si/2014/06/dpw-three-country-grand-circuit-2014/" title="DPW Three Country Grand Circuit 2014">DPW Three Country Grand Circuit 2014</a>
                        <span class="post-date">16. 6. 2014</span>
                    </li>
                    <li>
                        <a href="http://www.df-svit.si/2014/06/dan-odprtih-vrat-ob-19h-16-6-2014/" title="DAN ODPRTIH VRAT ob 19h 16. 6. 2014">DAN ODPRTIH VRAT ob 19h 16. 6. 2014</a>
                        <span class="post-date">15. 6. 2014</span>
                    </li>
                </ul>
            </div>

            <div class="df-one-fourth">
                <div id="text-5" class="widget_text">
                    <div class="textwidget">
                        <div id="fb-root"></div>
                        <script>
                            (function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        </script>

                        <div class="fb-like-box" data-href="https://www.facebook.com/dfsvit" data-width="236" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" style="width: 236px;"></div>
                    </div>
                </div>
            </div>

            <div class="df-one-fourth df-last">
                <h3>Iskalnik</h3>
                <!--
                <form role="search" method="get" id="searchform" class="searchform" action="http://www.df-svit.si/">
                    <div>
                        <label class="screen-reader-text" for="s">Search for:</label>
                        <input type="text" value="" name="s" id="s" />
                        <input type="submit" id="searchsubmit" value="Search" />
                    </div>
                </form>
                -->
            </div>

        </div>


        <div class="df-footer-bottom">
            <div class="df-one-half">
                <div class="df-copyright">Domen Blenkuš © 2014 - Vse pravice pridržane.</div>
            </div>
        </div>
    </div>
</div>
