<div class="df-topline"></div>

<div class="df-header">
    <div class="df-logo">
        <a href="http://www.df-svit.si"><img src="{{ STATIC_URL }}frontend/img/df-svit-logo.png" alt="" /></a>
    </div>

    <div class="df-primary-menu">

        <ul class="df-menu">
            <li>
                <a href="http://www.df-svit.si/">Domov</a>
            </li>
            <li>
                <a href="http://www.df-svit.si/drustvo-fotografov-svit/">DF SVIT</a>
            </li>
            <li>
                <a href="http://www.df-svit.si/clani/">Člani</a>
            </li>
            <li>
                <a href="http://www.df-svit.si/fotostorming/">Fotostorming</a>
            </li>
            <li>
                <a href="http://www.df-svit.si/rezultati/">Rezultati</a>
            </li>
            <li>
                <a href="http://www.df-svit.si/novice/">Novice</a>
            </li>
            <li>
                <a href="http://www.df-svit.si/informacije/">Informacije</a>
                </li>
            <li class="df-selected">
                <a href="#">Dnevi mladinske fotografije 2016</a>
            </li>
        </ul>

    </div>
</div>
