{% extends 'frontend/__base__.html' %}

{% block extendCSS %}
    <link type="text/less" rel='stylesheet' href='{{ STATIC_URL }}frontend/css/frontend.less' />
    <link type="text/less" rel='stylesheet' href='{{ STATIC_URL }}frontend/css/notice.less' />
{% endblock extendCSS %}

{% block content %}
<div class="col-md-10 text-center">
    <a href="{% url 'notice_os' %}" class="btn btn-default btn-lg" style="margin-bottom: 15px">Osnovnošolski razpis</a><br>
    <a href="{% url 'notice_ss' %}" class="btn btn-default btn-lg">Srednješolski razpis</a>
</div>
{% endblock content %}
